<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="canonical" href="{{ post.url }}"/>
    <meta property="theme-color" content="#00a8fc"/>
    <meta property="twitter:site" content="A backup for genshin birthday card (留影叙佳期)."/>
    <meta property="twitter:creator" content="PaiGramTeam"/>
    <meta property="twitter:title" content="留影叙佳期 - PaiGramTeam"/>
    <meta property="twitter:image" content="{{ post.cover }}"/>
    <meta property="twitter:card" content="summary_large_image"/>

    <meta property="og:url" content="{{ post.url }}"/>
    <meta property="og:image" content="{{ post.cover }}"/>
    <meta property="og:title" content="留影叙佳期 - PaiGramTeam"/>
    <meta property="og:description" content="本项目存档了 留影叙佳期 活动的所有生日卡片. (2022-03 ~ 2024-02)"/>
    <meta property="og:site_name" content="{{ month }} - 留影叙佳期 - PaiGramTeam"/>

    <meta property="author" content="PaiGramTeam">
    <!-- Telegram -->
    <meta property="al:android:app_name" content="Medium"/>
    <meta property="article:published_time" content="{{ published_time }}"/>
    <meta name="telegram:channel" content="@PaiGramTeam" />
    <meta name="telegram:cover" content="{{ post.cover }}" />
</head>
<body>
<section class="section-backgroundImage">
    <figure class="graf--layoutFillWidth"></figure>
</section>
<section class="section--first">
    If you can see this, your browser is doing something weird with your user agent.
    <a href="{{ post.url }}">View original post</a>
</section>
<article>
    <!-- 2022 年 3 月 留影叙佳期 -->
    <h1>{{ month }} 留影叙佳期 画片</h1>
    {% for role in roles %}
    <details>
        <!-- 3 日 - 七七 -->
        <summary>{{ role.day_str }} - {{ role.role_name }}</summary>
        <h2>已领取</h2>
        <img src="{{ role.src }}" alt="picture"/>
        <p>
            <a href="{{ role.src }}">查看原图</a>
        </p>
        <h2>未领取</h2>
        <img src="{{ role.src_unread }}" alt="picture"/>
        <p>
            <a href="{{ role.src_unread }}">查看原图</a>
        </p>
        {% for scene in scene_map[role.role_name] %}
            <h3>场景 {{ scene.id }}</h3>
            {% for item_ in scene['items'] %}
                {% if item_.type == "bg" %}
                    <img src="{{ DOMAIN }}/resource/bg/{{ item_.img }}.{{ item_.ext }}" alt="bg"/>
                    <p>
                        <a href="{{ DOMAIN }}/resource/bg/{{ item_.img }}.{{ item_.ext }}">查看原图</a>
                    </p>
                {% else %}
                    <p>
                        {{ item_.chara }}: {{ item_.content }}
                    </p>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </details>
    {% endfor %}
    <!-- 上下三个月进行关联 -->
    {% for post_ in related_posts %}
        {% if post_.is_single_page %}
            <p>
                <a href="{{ post_.url }}">{{ post_.short_title }}</a>
            </p>
        {% endif %}
        <related>
            <a href="{{ post_.url }}">{{ post_.title }}</a>
        </related>
    {% endfor %}
</article>
</body>
</html>
